<!DOCTYPE html>
<html>
<head>
  <title>Etl importer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "etl_importer/application", media: "all" %>
  <%= javascript_include_tag "etl_importer/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
